---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Slider from '../components/Slider.astro';
import Options from '../components/Options.astro';
import Bento from '../components/Bento.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Sitio oficial de Xbox: Consolas, juegos y comunidad | Xbox">
	<main>
		<Slider/>
		<Options/>
	</main>
</Layout>

