<header
    class="container max-w-10xl mx-44 h-14 flex items-center justify-between"
>
    <div class="items-center flex justify-between">
        <div class="flex space-x-8">
            <img
                class="h-6"
                src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
                alt="Microsoft Logo"
            />
            <div class="w-[2px] h-[23px] pt-1 bg-slate-800 mx-0"></div>
            <img class="h-6" src="/logo.png" alt="Xbox Logo" />
        </div>
        <menu class="px-8">
            <ul class="flex text-sm items-center justify-between pt-1">
                <li><a class="text-slate-800" href="#">Game Pass</a></li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
                <li><a class="text-slate-800" href="#">Juegos</a></li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
                <li><a class="text-slate-800" href="#">Dispositivos</a></li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
                <li><a class="text-slate-800" href="#">Comunidad</a></li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
                <li>
                    <a class="text-slate-800" href="#">Soporte Técnico</a>
                </li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
                <li><a class="text-slate-800" href="#">Mi Xbox</a></li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
                <li>
                    <a class="text-slate-800" href="#">Desarrolladores</a>
                </li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
            </ul>
        </menu>
        <menu class="items-center pt-1.5">
            <ul class="flex space-x-4 text-sm items-center justify-center">
                <li>
                    <a class="text-slate-800" href="#">Todo Microsoft</a>
                </li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                    class="pt-1 mr-2"
                    ><path
                        fill="dark-gray"
                        d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                    ></path></svg
                >
                <li><a class="text-slate-800" href="#">Buscar</a></li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24px"
                    height="24px"
                    viewBox="0 0 32 32"
                    ><path
                        fill="dark-gray"
                        d="M19.5 3C14.265 3 10 7.265 10 12.5c0 2.25.81 4.307 2.125 5.938L3.28 27.28l1.44 1.44l8.843-8.845C15.192 21.19 17.25 22 19.5 22c5.235 0 9.5-4.265 9.5-9.5S24.735 3 19.5 3m0 2c4.154 0 7.5 3.346 7.5 7.5S23.654 20 19.5 20S12 16.654 12 12.5S15.346 5 19.5 5"
                    ></path></svg
                >
                <li><a class="text-slate-800" href="#">Carro</a></li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    ><path
                        fill="black"
                        d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z"
                    ></path></svg
                >
                <li>
                    <a class="text-slate-800" href="#">Iniciar Sesión</a>
                </li><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50px"
                    height="50px"
                    viewBox="0 0 256 256"
                    ><path
                        fill="gray"
                        d="M172 56a4 4 0 0 1 4-4h20V32a4 4 0 0 1 8 0v20h20a4 4 0 0 1 0 8h-20v20a4 4 0 0 1-8 0V60h-20a4 4 0 0 1-4-4m54.62 55.34a99.89 99.89 0 1 1-82-82a4 4 0 0 1-1.32 7.89A93.4 93.4 0 0 0 128 36a92 92 0 0 0-65.17 156.87a75.61 75.61 0 0 1 44.51-34a44 44 0 1 1 41.32 0a75.61 75.61 0 0 1 44.51 34A91.69 91.69 0 0 0 220 128a93.58 93.58 0 0 0-1.27-15.34a4 4 0 0 1 7.89-1.32M128 156a36 36 0 1 0-36-36a36 36 0 0 0 36 36m0 64a91.61 91.61 0 0 0 59.14-21.58a68 68 0 0 0-118.27 0A91.56 91.56 0 0 0 128 220"
                    ></path></svg
                >
            </ul>
        </menu>
    </div>
</header>
