<header class="container max-w-7xl mx-auto h-14 flex items-center">
    <div class="flex space-x-9">
        <img
            class="h-6"
            src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
            alt="Microsoft Logo"
        />
        <div class="w-[2px] h-[24px] bg-slate-800"></div>
        <img class="h-6" src="/logo.png" alt="Xbox Logo" />
    </div>
</header>
