<menu class="ml-8">
    <div class="flex items-center">
        <a class="hover:underline underline-offset-[7px] decoration-2" href="#"
            >Game Pass
        </a>
                
    </div>
</menu>
