<div class="h-40 grid grid-cols-10 grid-rows-2  items-center">
    <div></div>
    <div></div>
    <div class="pt-12"><img class="mx-auto h-16" src="/gamepass.svg" alt="" /></div>
    <div class="pt-12"><img class="mx-auto h-16" src="/controller.svg" alt="" /></div>
    <div class="pt-12"><img class="mx-auto h-16" src="/console.svg" alt="" /></div>
    <div class="pt-12"><img class="mx-auto h-16" src="/earphones.svg" alt="" /></div>
    <div class="pt-12"><img class="mx-auto h-16" src="/offers.svg" alt="" /></div>
    <div class="pt-12"><img class="mx-auto h-16" src="/user.svg" alt="" /></div>
    <div></div>
    <div></div>
    
        <div></div>
        <div></div>
        <div class="mx-auto text-[#0e7a0d] font-semibold hover">GAME PASS</div>
        <div class="mx-auto text-[#0e7a0d] font-semibold hover">GAMES</div>
        <div class="mx-auto text-[#0e7a0d] font-semibold hover">CONSOLES</div>
        <div class="mx-auto text-[#0e7a0d] font-semibold hover">ACCESORIES</div>
        <div class="mx-auto text-[#0e7a0d] font-semibold hover">OFFERS</div>
        <div class="mx-auto text-[#0e7a0d] font-semibold hover">LOG IN16</div>
        <div></div>
        <div></div>

</div>
